= form_tag SALLIE_MAE_CONFIG["url"] do
  = hidden_field_tag 'SCHOOL_ID', SALLIE_MAE_CONFIG["school_id"]
  = hidden_field_tag 'ALT_OTPSSO_URL', SALLIE_MAE_CONFIG["postback_url"]
  = hidden_field_tag 'FINISH_URL', SALLIE_MAE_CONFIG["finish_url"]
  = hidden_field_tag 'CANCEL_URL', SALLIE_MAE_CONFIG["cancel_url"]
  = hidden_field_tag 'PMT_INDICATOR', payment.payment_type
  = hidden_field_tag 'EDIT_INDICATOR', payment.allow_edit ? "Y" : "N"
  - if options[:account].eql? false
    = hidden_field_tag 'ACCOUNT', payment.student.account
  - else      
    %p
      = label_tag 'ACCOUNT', 'Student Account', :class => 'label'
      = text_field_tag 'ACCOUNT', payment.student.account, :class => 'text_field', :readonly => 'readonly'
  - if options[:student_firstname].eql? false
    = hidden_field_tag 'STUDENT_FIRSTNAME', payment.student.first_name
  - else
    %p
      = label_tag 'STUDENT_FIRSTNAME', 'Student First Name', :class => 'label'
      = text_field_tag 'STUDENT_FIRSTNAME', payment.student.first_name, :class => 'text_field', :readonly => 'readonly'
  - if options[:student_lastname].eql? false
    = hidden_field_tag 'STUDENT_LASTNAME', payment.student.last_name
  - else
    %p
      = label_tag 'STUDENT_LASTNAME', 'Student Last Name', :class => 'label'
      = text_field_tag 'STUDENT_LASTNAME', payment.student.last_name, :class => 'text_field', :readonly => 'readonly'
  - if options[:student_email].eql? false
    = hidden_field_tag 'STUDENT_EMAIL_1', payment.student.email
  - else
    %p
      = label_tag 'STUDENT_EMAIL', 'Student Email', :class => 'label'
      = text_field_tag 'STUDENT_EMAIL_1', payment.student.email, :class => 'text_field', :readonly => 'readonly'
  - unless options[:line_items].eql? false
    %table.table
      %tr
        %th Description
        %th Amount
      - payment.line_items.each_with_index do |line_item, i|
        %tr{class: cycle('odd','even', name: 'sallie_mae_line_items')}
          %td= line_item.description
          %td.currency= "$" + "%.02f" % line_item.amount
      %tr.total
        %td.total Total
        %td.currency= "$" + "%.02f" % payment.line_items.reduce(0.0) { |sum, item| sum += item.amount }
  - payment.line_items.each_with_index do |line_item, i|
    - item = (i.eql? 0) ? nil : i+1
    = hidden_field_tag "PMT_TYPE#{item}", line_item.type
    = hidden_field_tag "PMT_TYPE_DESC#{item}", line_item.description
    = hidden_field_tag "AMOUNT_PAID#{item}", ("%.02f" % line_item.amount)
  = submit_tag options[:button_label]